<p>
  <mat-toolbar id="header">
    <span id="header_toolbar">Online Banking System</span>
    <span class="spacer"></span>
    <button mat-fab extended="" class="header-btn" ><a [routerLink]="['/welcomePage']" >Back</a></button>
    <button  mat-fab extended=""  class="header-btn" (click)="logOut()" >Log Out</button>
  </mat-toolbar>
</p>

<div class="account_info">
  <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Account</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <h3>Information</h3>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Iban</span>
          <span matListItemLine>{{account.iban}}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Available Amount</span>
          <span matListItemLine>{{account.availableAmount}}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Credit Amount</span>
          <span matListItemLine>{{account.creditAmount}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div class="account_info">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Debit Card</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <h3>Information</h3>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Number</span>
          <span matListItemLine>{{card.number}}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Expiry Date</span>
          <span matListItemLine>{{card.expiryDate}}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>CVV</span>
          <span matListItemLine>{{card.cvv}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

</div>
