<div id="create-form" [formGroup]="createForm">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput id="email" formControlName="email">
    <mat-error *ngIf="this.createForm.get('email')?.hasError('email')">Email must be valid</mat-error>

  </mat-form-field>

  <button type="submit" mat-stroked-button color="primary" (click)="recoverPassword()" >Recover password</button>

  <app-error-page *ngIf="error" [errorMessage]="errorMessage" (closeModal)="closeModal()"></app-error-page>
</div>
