.spacer {
  flex: 1 1 auto;
}

#header{
  background: darkorange;
}

.main-part{
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome_text{
  margin: 10px;
  font-size: 30px;
  font-family: "Arial Black", sans-serif;
}

#choose_list{
  margin: 3%;
}

.button-row {
  display: flex;
}
button{
  margin: 1%;
}
